.login{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

.form{
  width: 360px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}