.home{
  width: 100vw;
  height: 100vh;
  .layout{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.header{
  text-align: center;
  height: 48px;
  font-size: 20px;
  padding-inline: 48px;
  background: linear-gradient(90deg, #F7EEF7, #EBF0FB);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .user{
    color: rgba($color: #000000, $alpha: .5);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

.sider{
  text-align: center;
  line-height: 120px;
  color: #fff;
  background-color: #F7EEF7;
  
  .demo_logo_vertical{
    height: 48px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  .menu{
    background: #F7EEF7;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar{
      display: none;
    }
    }
}

.content_wrap{
  padding: 10px;
  background: rgba($color: #eee, $alpha: .1);
  overflow: hidden;
  .content{
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
    // overflow: hidden;
    padding: 15px 20px 10px;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}